body {
    background-color: #0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.Burger {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TopBun {
    height: 80px;
    background-color: #d9a55a;
    border-radius: 150px 150px 20px 20px;
}

.Lettuce {
    height: 20px;
    background-color: #4CAF50;
    border-radius: 10px;
}

.Tomato {
    height: 20px;
    background-color: red;
    border-radius: 10px;
}

.Onion {
    height: 15px;
    background-color: #e6ccff;
    border-radius: 10px;
}

.Cheese {
    height: 20px;
    background-color: yellow;
}

.Patty {
    height: 40px;
    background-color: #5c2e00;
    border-radius: 10px;
}

.BottomBun {
    height: 50px;
    background-color: #d9a55a;
    border-radius: 20px 20px 100px 100px;
}
